h3{
    color: #EF1B58;
    font-family: Brush Script MT, Brush Script Std, cursive;
}

@media(max-width: 1920px){
    html{font-size: 0.9vw;}
}
@media(max-width: 1560px){
    html{font-size: 1vw;}
}
@media(max-width: 1199px){
    html{font-size: 1.3vw;}
}
@media(max-width: 991px){
    html{font-size: 1.5vw;}
}
@media(max-width: 767px){
    html{font-size: 2.5vw;}
}
@media(max-width: 575px){
    html{font-size: 3vw;}
}
@media(max-width: 400px){
    html{font-size: 3vw;}
}